
/* Fixes for Internet Explorer (all versions) */


/* ------------ ADMIN.PHP ---------------------------*/
#admin ul {margin-top: 1.0em}
form.form_admin {margin-top: 0}
.form_admin legend {margin-bottom: 1.0em}   /* by default IE gives no gap between legend and first form element */


/* ------------ DAY/WEEK/MONTH.PHP ------------------*/
table.dwm_main {border-collapse: collapse}  /* separate gives better corners in Firefox,  but doesn't work in IE6/7 */
div.booking_list {overflow-x: hidden}       /* we don't want IE to give us the horizontal scrollbar */
