
/* Fixes for Internet Explorer 8 and below */

/* IE8 can't do pseudo-elements ('::') so use a
   pseudo-class (':') */
   
label:after,
.list td:first-child:after {
  content: ':';
}

[lang="fr"] label:after,
[lang="fr"] .list td:first-child:after  {
  content: '\0000a0:';  /* &nbsp; before the colon */
}

label.no_suffix:after {
  content: '';
}

.date_before:before {
  content: '<<\0000a0';
}

.date_after:after {
  content: '\0000a0>>';
}

.awaiting_approval a:before {
  content: '? ';
}

.good:after {
  content: '\002714';  /* checkmark */
  color: green;
}

.notice::after {
  content: '!';
  font-weight: bold;
  color: #ff5722;
}

.bad:after {
  content: '\002718';  /* cross */
  color: red;
}


/* ------------ PRIVATE BOOKINGS ---------------------------*/

/* Opacity doesn't work well in IE8 and below, so we'll just change */
/* the font color for private bookings */

.private {color: #637582}
.private a {color: #637582}
