
/* Modifications to the standard CSS when using RTL languages (eg Hebrew) */

/* ------------ EDIT_USER_DB.PHP ------------------*/

#edit_room fieldset.submit_buttons {
  padding-top: 460px;
  margin-top: 1em
}

