
a:link {color: #000000;}
a:visited {color: #000000;}
a:hover {color: #000000;}

nav.view a.selected {background: #c2e7ff; color: #000000;}
nav.view a:hover {background: #e4e7ec; color: #000000;}

.color_key > div {color: #ffffff;}

div.A a {color: #ffffff;}
div.B a {color: #ffffff;}
div.C a {color: #ffffff;}
div.D a {color: #ffffff;}
div.E a {color: #ffffff;}
div.F a {color: #ffffff;}
div.G a {color: #ffffff;}
div.H a {color: #ffffff;}
div.I a {color: #ffffff;}
div.J a {color: #ffffff;}

.banner {background-color: #f8fafd; border-color: #f8fafd;}

table.dataTable.display tbody tr.odd {background-color: #f8fafd;}
table.dataTable.display tbody tr.even {background-color: #ffffff;}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {background-color: #f8fafd;}
table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {background-color: #f8fafd;}
table.dataTable.display tbody tr.odd > .sorting_3,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {background-color: #f8fafd;}
table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1  {background-color: #ffffff;}
table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {background-color: #ffffff;}
table.dataTable.display tbody tr.even > .sorting_3,
table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {background-color: #ffffff;}

