
/* $Id$ */

/* Fixes for Internet Explorer (IE6 and below) */


/* ------------ ADMIN.PHP ---------------------------*/
.form_admin label {height: 2.0em}            /* min-height not recognised by IE6 and below */
.form_admin input {margin-top: 0}            /* negative margins remove the input border in IE6 */
.form_admin input.submit {display: inline}   /* stops IE6 "double margin float bug" appearing */

/* ------------ DAY/WEEK/MONTH.PHP ------------------*/
div.cell_container {height: 100px}           /* NOTE:  if you change the value of height, make sure you */
                                             /* also change the value of min-height in mrbs.css.php */
div.booking_list {overflow: visible}         /* scrollbars don't work properly in IE6, so forget them and just let the cell expand*/

/* We don't want the controls for multiple bookings for IE6, because they rely on div:hover working   */
/* which is not supported by IE6.   So reverse the JavaScript overrides and just treat IE6 as though  */
/* JavaScript was disabled.                                                                           */
div.multiple_control {display: none}
.multiple_booking .maxi a {padding-left: 2px}
.minimized div.mini {display: none}   /* Ignore the minimized class and always display the maxi table */
.minimized div.maxi {display: block}

/* ------------ EDIT_USERS.PHP ----------------------*/
#form_edit_users label {height: 2.0em}       /* min-height not recognised by IE6 and below */

/* ------------ FORM_GENERAL ------------------------*/
.form_general input {display: inline}        /* stops IE6 "double margin float bug" appearing */
.form_general input.submit {display: inline} /* stops IE6 "double margin float bug" appearing */

/* ------------ TRAILER.INC ---------------------*/
#trailer div.trailer_label {text-align: right}   /* max-width does not work in IE6, so this keeps it looking OK */
