BODY {color:black; font-size: 10pt; font-family:arial,sans-serif;
background-color:#ffffed}

A:link {color:#5B69A6; font-weight: bold; text-decoration: none}
A:visited {color:#5B69A6; font-weight: bold; text-decoration: none}
A:hover {color:red; text-decoration:underline}
H1 {color:black; font-family:verdana,sans-serif; font-size:16pt}
H2 {color:black; font-family:verdana,sans-serif; font-size:14pt}
H3 {font-family:verdana,sans-serif}

TD {font-size:10pt; font-family:arial,sans-serif; border-width:1;
vertical-align:top}
TD.header {color:black; font-family:verdana,sans-serif; border-width:0;
background-color:#ffffdd; font-size:26pt}
TD.CR { vertical-align: middle; text-align: right}
TD.CL { vertical-align: middle; text-align: left}
TD.BR { vertical-align: baseline; text-align: right}
TD.BL { vertical-align: baseline; text-align: left}
TD.TR { vertical-align: top; text-align: right}
TD.TL { vertical-align: top; text-align: left}

td form { margin:0; } // Prevent IE from displaying margins around forms in tables.

TD.unallocated {color:gray}
TD.allocated {color:black}
A:link.unallocated {color:#9BA9E6}
A:link.allocated {color:#5B69A6}

A:hover.unallocated {color:red}
A:hover.allocated {color:red}

A.blue {color:blue}
A:visited.blue {color:blue}
A:hover.blue {color:red}

TH {color:#eeeeee; font-size:10pt; font-family:verdana,sans-serif;
background-color:#333333;
border-width:1; border-color:black; vertical-align:top}
TD.banner {vertical-align:middle; background-color:#C0E0FF}

TD.blue {background-color:#F0F0FF}
TD.red  {background-color:#FFF0F0}
TD.green {background-color:#DDFFDD}
TD.A {background-color:#FFCCFF}
TD.B {background-color:#99CCCC}
TD.C {background-color:#FF9999}
TD.D {background-color:#FFFF99}
TD.E {background-color:#C0E0FF}
TD.F {background-color:#FFCC99}
TD.G {background-color:#FF6666}
TD.H {background-color:#66FFFF}
TD.I {background-color:#DDFFDD}
TD.J {background-color:#CCCCCC}
TD.white {background-color:#FFFFFF}

TD.calendar {border:0px; font-size: 8pt}
TD.calendarHeader {border:0px; font-size: 10pt}
FONT.calendarHighlight {color: red}

.sitename
{font-size: 18px;
font-style: normal;
font-weight: bold;
text-transform: none;
color:#ffffff;
position: absolute;
left:30;
top:12}

TD.month {font-size: 8pt}
.monthday {font-size: 12pt}
