
/* $Id$ */

/* Fixes for Internet Explorer (all versions) */


/* ------------ ADMIN.PHP ---------------------------*/
#admin ul {margin-top: 1.0em}
form.form_admin {margin-top: 0}
.form_admin legend {margin-bottom: 1.0em}   /* by default IE gives no gap between legend and first form element */

/* ------------ DAY/WEEK/MONTH.PHP ------------------*/
table.dwm_main {border-collapse: collapse}  /* separate gives better corners in Firefox,  but doesn't work in IE6/7 */
div.booking_list {overflow-x: hidden}       /* we don't want IE to give us the horizontal scrollbar */


/* ------------ FORM_GENERAL ------------------------*/
/*                                                   */
/*   used in EDIT_ENTRY.PHP and REPORT.PHP           */

.form_general legend {margin-bottom: 2.0em}   /* by default IE gives no gap between legend and first form element */

/* margin-bottom on some form controls does not work, so put it on the relevant divs instead */
.form_general div#div_description, 
.form_general div#div_date,
.form_general div#div_period,
.form_general div#div_areas,
.form_general div#div_rooms,
.form_general div#div_type,
.form_general div#rep_end_date,
.form_general div#div_report_start,
.form_general div#div_report_end,
.form_general div#div_typematch {margin-bottom: 0.5em}

/* alignment of some inputs with labels is different in IE, so adjust */
.form_general input.radio {margin-top: -0.2em}
.form_general input.checkbox {margin-top: -0.2em}
